/*
@font-face {
  font-family: 'Agency FB';
  src: url('fonts/Agency/Varela-Regular.eot');
  src: url('fonts/Agency/Varela-Regular.woff') format('woff2'),
       url('fonts/Agency/Varela-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('fonts/openSansExtrabold/OpenSans-ExtraBold.eot');
  src: url('fonts/openSansExtrabold/OpenSans-ExtraBold.woff2') format('woff2'),
       url('fonts/openSansExtrabold/OpenSans-ExtraBold.woff') format('woff'),
       url('fonts/openSansExtrabold/OpenSans-ExtraBold.ttf') format('truetype'),
       url('fonts/openSansExtrabold/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg'),
       url('fonts/openSansExtrabold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'Agency FB';
  src: url('Agency/8711.eot');
  src: url('Agency/8711.woff2') format('woff2'),
       url('Agency/8711.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AgencyFBCyrillic';
  src: url('Agency/AgencyFBCyrillic.woff') format('woff'),
       url('Agency/AgencyFBCyrillic.ttf') format('truetype'),
       url('Agency/AgencyFBCyrillic.svg#AgencyFBCyrillic') format('svg');
  font-weight: normal;
  font-style: normal;
}























