.fix {
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 999999;   
    opacity: 0.4;
    transition: 0.5s;
    background-color: black;
    min-height: 54px;
    &:hover{
        transition: 0.5s;
        opacity: 1;
    }
}

.wraper{
    width: 1170px;
    min-width: 320px;
}
